<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Final v1 - a yoniKan project</title>

      <!-- PROJECT CSS -->
      <%- include('css') %>

  </head>
	<body>

    <div id="scrollToTop"></div>

		<!-- header start ------------------------------------------------------------------->
    <%- include('sections/section-header') %>

    <!-- intro start ------------------------------------------------------------------->
    <%- include('sections/section-intro') %>

		<!-- services start ------------------------------------------------------------------>
    <%- include('sections/section-services') %>

    <!-- intro start ------------------------------------------------------------------->
    <%- include('sections/section-features') %>

		<!-- PROJECT JAVASCRIPT -->
    <%- include('js') %>

	</body>
</html>
